
.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
          grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header,
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: 1px solid #ededed;
    background-color: #ededed;
  }
  
  .holy-grail-header {
    grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
        grid-row-start: 1;
        position: sticky;
        top: 0;
  }
  
.headerBox {
    width: 15%; 
    position: absolute;
    right: 77%;
    top: 20px;
}

#Dropper {
    position: absolute;
    left: 350px;
    top: -0px;
}

.fa {
  position: absolute;
  right: -770px;
  top: 0%;
  background-color: blue;
  color: black;
  padding: 10px;
}

#or {
  position: absolute;
  right: -440px;
  top: 0px;
}

.keyWord {
   position: absolute;
   right: -700px;
   top: 0%;
   background-color: white;
   height: 37px;
}

  @media screen and (max-width: 60em) {
    .holy-grail-left {
      grid-row: 2;
          grid-row-start: 2;
      grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      grid-row: 3;
          grid-row-start: 3;
      grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .right-nav {
      grid-row: 4;
          grid-row-start: 4;
      grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
  body{
      overflow: scroll;
  }

